#
# Your local user and group id (by default is 1000) for proxy correct directory permissions in php-fpm container
#
UID=1000
GID=1000

PHP_EXT_PDO_MYSQL=true
PHP_EXT_REDIS=true
PHP_EXT_MBSTRING=true
PHP_EXT_JSON=true
PHP_EXT_CURL=true
PHP_EXT_ZIP=true
PHP_EXT_XML=true
PHP_EXT_BCMATH=true
PHP_EXT_GD=true
PHP_EXT_SOAP=true

PHP_EXT_INTL=false
PHP_EXT_OPCACHE=false
PHP_EXT_XDEBUG=false
ENABLE_XHPROF=false

#
# MySQL configuration
#
MYSQL_DATABASE=wfrepent_repentance
MYSQL_USER=wfrepent_repentance
MYSQL_PASSWORD=!ChangeMe!
MYSQL_ROOT_PASSWORD=!ChangeMe!

#
# Mailplit configuration
#
MP_UI_USER=deployer
MP_UI_PASSWORD=secret
# Max count messages for autoremove (0 is unlimited)
MP_MAX_MESSAGES=0
